{% extends 'base.html.twig' %}

{% block title %}Endroit index{% endblock %}

{% block body %}
    <h1 class=" p-3">Tous les endroits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lien de l'image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for endroit in endroits %}
            <tr>
                <td>{{ endroit.id }}</td>
                <td>{{ endroit.nom }}</td>
                <td>{{ endroit.lienImage }}</td>
                <td>
                    <a class="btn btn-outline-secondary m-1" href="{{ path('app_endroit_show', {'id': endroit.id}) }}">show</a>
                    <a class="btn btn-outline-primary m-1" href="{{ path('app_endroit_edit', {'id': endroit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-success btn-lg" href="{{ path('app_endroit_new') }}">Créer nouvel endroit</a>
    </div>
{% endblock %}
