{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1 class="fond p-3">Voyage index</h1>

    <table class="table">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre de nuits</th>
                <th>Repas compris</th>
                <th>Prix total</th>
                <th>Transport inclus</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Localisation</th>
                <th>Voyage en</th>
                <th>Lien image</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
    
            {% for voyage in voyages %}
            <tr class="text-center">
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.nom }}</td>
                <td>{{ voyage.nombreNuits }}</td>
                <td>{{ voyage.repasCompris ? 'Yes' : 'No' }}</td>
                <td>{{ voyage.prixTotal }}</td>
                <td>{{ voyage.transportADestinationInclus ? 'Yes' : 'No' }}</td>
                <td>{{ voyage.dateDebut ? voyage.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.dateFin ? voyage.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.endroit.nom }}</td>
                <td>{{ voyage.modaliteTransport.nom }}</td>
                <td>{{ voyage.endroit.lienImage }}</td>


                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href="{{ path('app_voyage_new') }}">Create new</a>

{% endblock %}
