{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1 class="fond p-3">Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voyage.nom }}</td>
            </tr>
            <tr>
                <th>NombreNuits</th>
                <td>{{ voyage.nombreNuits }}</td>
            </tr>
            <tr>
                <th>RepasCompris</th>
                <td>{{ voyage.repasCompris ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ voyage.prixTotal }}</td>
            </tr>
            <tr>
                <th>TransportADestinationInclus</th>
                <td>{{ voyage.transportADestinationInclus ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ voyage.dateDebut ? voyage.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ voyage.dateFin ? voyage.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
